:root{
    --primary-color: #2819FF;
    --secondary-color: #A0AAFF;
    --accent-color: #00BE5F;
    --text-color: #F5F7FA;
}
html{
    font-size: 14px;
}

body{
    font-family: sofia-pro, sans-serif;
    color: var(--text-color);
}
h1{
    font-size: 1.7rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h3{
    font-size: 1.2rem;
}

p{
    font-size: 1.2rem;
}

header{
    background-color: var(--primary-color);
}

#almi-negative{
    width: 20%;
    height: 20%;
    align-items: center;
}

#hamburger{
    color: var(--text-color);
}

.nav-link{
    color: var(--text-color); 
    font-size: 1.2rem;
}

.nav-link:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
}

.hero{
    position: relative;
    text-align: center;
}

.hero-text-wrapper{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.hero-icons-wrapper img{
    width: 1.5rem;
}

.checked-text{
    text-align: left;
}

.meeting{
    background-color: var(--secondary-color);
    color: black;
}

.btn-submit{
    width: 12rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

.btn:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
}

.testimonial {
    width: 100%;
    background-color: var(--secondary-color);
    color: black;
}

.second-article{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.pricing{
    background-color: var(--secondary-color)
}

.card{
    background-color: var(--accent-color);
    width: 15rem;
}

.card-header{
    font-size: 2rem;
    font-weight: 700;
}
.card h2{
    font-weight: normal;
}

.icon{
    width: 10%;
    margin-bottom: 2rem;
}

.usp-text{
    color: black;
    font-size: 1.3rem;
}

.stats-article{
    background-color: var(--text-color);
    color: black;
}

.stats{
    color: var(--primary-color);
    font-size: 2rem;
}

.brand-names{
    background: url("assets/images/ux-indonesia-w00FkE6e8zE-unsplash.jpg");
    background-size: cover;
    max-width: 100%;
}

.background-gradient{
    background:#2d2c2c57;
}

.questions {
    color: black;
}

.question-wrapper{
    border: 1px solid var(--text-color);
    padding-bottom: 1rem;
}

span{
    color:black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.sign-up{
    background-color: var(--accent-color);
    width: 90%;
}

footer{
    background-color: var(--primary-color);
}

.links-wrapper a{
    color: var(--text-color);
    text-decoration: none;
}

.links-wrapper a:hover{
    color: black;
}

/* Media Queries */
@media only screen and (min-width: 740px){
    html{
        font-size: 18px;
    }
    
    .checked-text{
        text-align: left;
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 1020px){
    html{
        font-size: 20px;
    }
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.7rem;
    }

    #hero-image{
        height: auto;
    }

    .articles{
        margin: 0 auto;
        width: 80%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}