:root{
    --primary-color: #2819FF;
    --secondary-color: #A0AAFF;
    --accent-color: #00BE5F;
    --text-color: #F5F7FA;
}

body{
    font-family: sofia-pro, sans-serif;
    font-size: 10px;
    color: var(--text-color);
}
h1{
    font-size: 1.3rem;
}

h2{
    font-size: 1rem;
    font-weight: 700;
}

h3{
    font-size: 0.9rem;
}
p{
    font-size: 0.8rem;
}

header{
    background-color: var(--primary-color);
}

#almi-negative{
    width: 20%;
    height: 20%;
    align-items: center;
}

.nav-link{
    color: var(--text-color); 
}

.hero{
    position: relative;
    text-align: center;
}

.hero-text-wrapper{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.hero-icons-wrapper img{
    width: 1.5rem;
}

.checked-text{
    text-align: left;
}

.meeting{
    background-color: var(--secondary-color);
}

#meeting-img{
    max-width:100%;
}

.btn-submit{
    width: 7rem;
}

.testimonial {
    width: 100%;
    background-color: var(--secondary-color);
}