/*
TODO: - Questions ska ligga i mitten inte över
- styla knappar bättre
- lägga in ett till grafiskt element
*/

:root{
    --primary-color: #2819FF;
    --secondary-color: #A0AAFF;
    --accent-color: #00BE5F;
    --text-color: #F5F7FA;
}
html{
    font-size: 14px;
}

body{
    font-family: sofia-pro, sans-serif;
    color: var(--text-color);
}
h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.3rem;
    font-weight: 700;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 1.2rem;
    line-height: 2;
    padding: 1.2rem;
}

header{
    background-color: var(--primary-color);
}

#almi-negative{
    width: 20%;
    height: 20%;
    align-items: center;
}

#hamburger{
    color: var(--text-color);
}

.nav-link{
    color: var(--text-color); 
    font-size: 1.2rem;
}

.nav-link:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
}

.hero{
    position: relative;
    text-align: center;
}

.hero-text-wrapper{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.hero-icons-wrapper img{
    width: 1.5rem;
}

.checked-text{
    text-align: left;
}

.meeting{
    background-color:var(--text-color);
    color: black;
}

.btn-submit{
    width: 12rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.btn:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-blue{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn-inverted{
    background-color: var(--text-color);
    color: var(--primary-color);
}

.btn-inverted:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.testimonial {
    width: 100%;
    background-color: var(--secondary-color);
    color: black;
}

.second-article{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.pricing{
    margin-top: 5rem;
    background-color: var(--secondary-color);
}

.card{
    background-color: var(--accent-color);
    width: 16rem;
}

.card-header{
    font-size: 2rem;
    font-weight: 700;
}
.card h2{
    font-weight: normal;
}

.icon{
    width: 30%;
    margin-bottom: 2rem;
}

.usp-text{
    color: black;
    font-size: 1.3rem;
}

.stats-article{
    background-color: var(--text-color);
    color: black;
}

.stats{
    color: var(--primary-color);
    font-size: 2rem;
}

.brand-names{
    background: url("assets/images/ux-indonesia-w00FkE6e8zE-unsplash.jpg");
    background-size: cover;
    max-width: 100%;
}

.background-gradient{
    background:#151515b3;
}

.questions {
    color: black;
}

.question-wrapper{
    border: 1px solid var(--text-color);
    padding-bottom: 1rem;
}

span{
    color:black;
    font-size: 1.3rem;
    margin-left: 1rem;
}
.social-media i{
    font-size: 1.5rem;
    color: black;
}

.social-media i:hover{
    color: var(--primary-color);
}

.sign-up{
    background-color: var(--accent-color);
    width: 90%;
}

footer{
    background-color: var(--primary-color);
}

.links-wrapper a{
    color: var(--text-color);
    text-decoration: none;
}

.links-wrapper h3{
    font-weight: 700;
    font-size: 1.2rem;
}

.links-wrapper a:hover{
    color: black;
}

/* Media Queries */
@media only screen and (min-width: 740px){
    html{
        font-size: 18px;
    }

    .usp-wrapper{
        width: 75%;
    }
    
    .checked-text{
        text-align: left;
        margin-left: 1rem;
    }

    .articles{
        width: 60%;
    }

    #happy-client{
        width: 100%;
    }

    #happy-client-man{
        width: 100%;
    }

    .testimonial{
        flex-wrap: nowrap;
    }

    .second-article{
        flex-wrap:nowrap;
        flex-direction: row-reverse;
    }

    .testimonial-text{
        width: 100%; 
    }

    .plus-wrapper{
        width: 25%;
        margin: 0;
        align-items: center;
    }
    
    .plus-wrapper .icon{
        width: 50%;
    }

    .email{
        width: 75%;
    }

    .social-media{
        width: 50%;
    }
}

@media only screen and (min-width: 1020px){
    html{
        font-size: 20px;
    }
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.7rem;
    }

    #hero-image{
        height: auto;
    }

    .articles{
        margin: 0 auto;
        width: 80%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #happy-client{
        width: 50%;
    }

    #happy-client-man{
        width: 50%;
    }

    .testimonial-text{
        width: 50%; 
    }

    .social-media i{
        font-size: 2rem;
    }
}